.footer {
    position: absolute;
    bottom: 0px;
    width: 20%;
    background: #13294B;
    color: #fff;
    padding: 0 .4em;
    text-align: center;

    #time {
        font-size: 3.5em;
        font-weight: bold;
    }
}