.footer {
    position: absolute;
    bottom: 0px;
    width: 10.5%;
    background: #13294B;
    color: white;
    text-align: center;

    #time {
        font-size: 2rem;
        font-weight: bold;
    }
}