.footer {
    position: absolute;
    bottom: 0px;
    width: 20%;
    background: white;
    color: #13294B;
    text-align: center;

    #time {
        font-size: 2rem;
        font-weight: bold;
    }
}